Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2020-11, with the labels that each got.

#101 Bump plugin and add new build deps
  datadog-cloudformation-common-python/setup.cfg
Labels: resource/common

#102 Migrate the Downtime resource to python runtime
  datadog-monitors-downtime-handler/.rpdk-config
  datadog-monitors-downtime-handler/datadog-monitors-downtime.json
  datadog-monitors-downtime-handler/docs/README.md
  datadog-monitors-downtime-handler/requirements.txt
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/__init__.py
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/handlers.py
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/models.py
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/version.py
  datadog-monitors-downtime-handler/src/main/java/com/datadog/monitors/downtime/CallbackContext.java
  datadog-monitors-downtime-handler/src/main/java/com/datadog/monitors/downtime/ClientFactory.java
  datadog-monitors-downtime-handler/src/main/java/com/datadog/monitors/downtime/Configuration.java
  datadog-monitors-downtime-handler/src/main/java/com/datadog/monitors/downtime/CreateHandler.java
  datadog-monitors-downtime-handler/src/main/java/com/datadog/monitors/downtime/DeleteHandler.java
  datadog-monitors-downtime-handler/src/main/java/com/datadog/monitors/downtime/ListHandler.java
  datadog-monitors-downtime-handler/src/main/java/com/datadog/monitors/downtime/ReadHandler.java
  datadog-monitors-downtime-handler/src/main/java/com/datadog/monitors/downtime/UpdateHandler.java
  datadog-monitors-downtime-handler/src/main/resources/com/datadog/monitors/downtime/project.properties
  datadog-monitors-downtime-handler/src/test/java/com/datadog/monitors/downtime/DowntimeCRUDTest.java
  datadog-monitors-downtime-handler/template.yml
Labels: documentation, resource/downtime

#104 Start next dev cycle for common-python package
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
Labels: resource/common

#95 Migrate Datadog::Integrations::AWS resource to python
  .gitignore
  datadog-integrations-aws-handler/.rpdk-config
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-integrations-aws-handler/lombok.config
  datadog-integrations-aws-handler/pom.xml
  datadog-integrations-aws-handler/requirements.txt
  datadog-integrations-aws-handler/src/datadog_integrations_aws/__init__.py
  datadog-integrations-aws-handler/src/datadog_integrations_aws/handlers.py
  datadog-integrations-aws-handler/src/datadog_integrations_aws/models.py
  datadog-integrations-aws-handler/src/datadog_integrations_aws/version.py
  datadog-integrations-aws-handler/src/main/java/com/datadog/integrations/aws/CallbackContext.java
  datadog-integrations-aws-handler/src/main/java/com/datadog/integrations/aws/ClientFactory.java
  datadog-integrations-aws-handler/src/main/java/com/datadog/integrations/aws/Configuration.java
  datadog-integrations-aws-handler/src/main/java/com/datadog/integrations/aws/CreateHandler.java
  datadog-integrations-aws-handler/src/main/java/com/datadog/integrations/aws/DeleteHandler.java
  datadog-integrations-aws-handler/src/main/java/com/datadog/integrations/aws/ListHandler.java
  datadog-integrations-aws-handler/src/main/java/com/datadog/integrations/aws/ReadHandler.java
  datadog-integrations-aws-handler/src/main/java/com/datadog/integrations/aws/UpdateHandler.java
  datadog-integrations-aws-handler/src/main/resources/com/datadog/integrations/aws/project.properties
  datadog-integrations-aws-handler/src/test/java/com/datadog/integrations/aws/AWSCRUDTest.java
  datadog-integrations-aws-handler/template.yml
Labels: resource/aws, resource/common

#105 Cleanup old java files and bump common-python dep in all resources
  datadog-dashboards-dashboard-handler/requirements.txt
  datadog-iam-user-handler/requirements.txt
  datadog-monitors-downtime-handler/lombok.config
  datadog-monitors-downtime-handler/pom.xml
  datadog-monitors-monitor-handler/requirements.txt
Labels: changelog/Fixed, resource/dashboard, resource/downtime, resource/monitor, resource/user

#106 Fix typo in downtime resource
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/handlers.py
Labels: changelog/no-changelog, resource/downtime

#107 Add changelog label checker
  .github/workflows/changelog.yaml
Labels: changelog/no-changelog

#108 Prep the next release of all resources
  datadog-dashboards-dashboard-handler/CHANGELOG.md
  datadog-dashboards-dashboard-handler/datadog-dashboards-dashboard.json
  datadog-dashboards-dashboard-handler/docs/README.md
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/version.py
  datadog-iam-user-handler/CHANGELOG.md
  datadog-iam-user-handler/datadog-iam-user.json
  datadog-iam-user-handler/docs/README.md
  datadog-iam-user-handler/src/datadog_iam_user/version.py
  datadog-integrations-aws-handler/CHANGELOG.md
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-integrations-aws-handler/docs/README.md
  datadog-integrations-aws-handler/src/datadog_integrations_aws/version.py
  datadog-monitors-downtime-handler/CHANGELOG.md
  datadog-monitors-downtime-handler/datadog-monitors-downtime.json
  datadog-monitors-downtime-handler/docs/README.md
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/version.py
  datadog-monitors-monitor-handler/CHANGELOG.md
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/version.py
Labels: changelog/no-changelog, documentation, resource/aws, resource/dashboard, resource/downtime, resource/monitor, resource/user

#109 Fix the user agent header when using the python common package
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/api_clients.py
Labels: changelog/Fixed, resource/common
