Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2020-10, with the labels that each got.

#90 Add section about local development
  .gitignore
  DEVELOPMENT.md
Labels: documentation

#92 Create common python package with utils for developing resources
  datadog-cloudformation-common-python/README.md
  datadog-cloudformation-common-python/setup.cfg
  datadog-cloudformation-common-python/setup.py
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/__init__.py
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/api_clients.py
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
Labels: documentation, resource/common

#89 Migrate monitor resource to python
  .gitignore
  datadog-monitors-monitor-handler/.rpdk-config
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/docs/monitoroptions.md
  datadog-monitors-monitor-handler/docs/monitorthresholds.md
  datadog-monitors-monitor-handler/docs/monitorthresholdwindows.md
  datadog-monitors-monitor-handler/docs/state-groups-.*.md
  datadog-monitors-monitor-handler/docs/state-groups.md
  datadog-monitors-monitor-handler/docs/state.md
  datadog-monitors-monitor-handler/lombok.config
  datadog-monitors-monitor-handler/pom.xml
  datadog-monitors-monitor-handler/requirements.txt
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/__init__.py
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/handlers.py
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/models.py
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/version.py
  datadog-monitors-monitor-handler/src/main/java/com/datadog/monitors/monitor/CallbackContext.java
  datadog-monitors-monitor-handler/src/main/java/com/datadog/monitors/monitor/ClientFactory.java
  datadog-monitors-monitor-handler/src/main/java/com/datadog/monitors/monitor/Configuration.java
  datadog-monitors-monitor-handler/src/main/java/com/datadog/monitors/monitor/CreateHandler.java
  datadog-monitors-monitor-handler/src/main/java/com/datadog/monitors/monitor/DeleteHandler.java
  datadog-monitors-monitor-handler/src/main/java/com/datadog/monitors/monitor/ListHandler.java
  datadog-monitors-monitor-handler/src/main/java/com/datadog/monitors/monitor/ReadHandler.java
  datadog-monitors-monitor-handler/src/main/java/com/datadog/monitors/monitor/UpdateHandler.java
  datadog-monitors-monitor-handler/src/main/resources/com/datadog/monitors/monitor/project.properties
  datadog-monitors-monitor-handler/src/test/java/com/datadog/monitors/monitor/MonitorCRUDTest.java
  datadog-monitors-monitor-handler/template.yml
Labels: documentation, resource/monitor

#94 Specify User Agent header and set monitor id on create
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/api_clients.py
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
  datadog-monitors-monitor-handler/requirements.txt
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/handlers.py
Labels: resource/common, resource/monitor

#91 Migrate the Datadog::IAM::User resource to the python 3.7 runtime
  datadog-iam-user-handler/.rpdk-config
  datadog-iam-user-handler/bin/pom.xml
  datadog-iam-user-handler/lombok.config
  datadog-iam-user-handler/pom.xml
  datadog-iam-user-handler/requirements.txt
  datadog-iam-user-handler/src/datadog_iam_user/__init__.py
  datadog-iam-user-handler/src/datadog_iam_user/handlers.py
  datadog-iam-user-handler/src/datadog_iam_user/models.py
  datadog-iam-user-handler/src/datadog_iam_user/version.py
  datadog-iam-user-handler/src/main/java/com/datadog/iam/user/CallbackContext.java
  datadog-iam-user-handler/src/main/java/com/datadog/iam/user/ClientFactory.java
  datadog-iam-user-handler/src/main/java/com/datadog/iam/user/Configuration.java
  datadog-iam-user-handler/src/main/java/com/datadog/iam/user/CreateHandler.java
  datadog-iam-user-handler/src/main/java/com/datadog/iam/user/DeleteHandler.java
  datadog-iam-user-handler/src/main/java/com/datadog/iam/user/ListHandler.java
  datadog-iam-user-handler/src/main/java/com/datadog/iam/user/ReadHandler.java
  datadog-iam-user-handler/src/main/java/com/datadog/iam/user/UpdateHandler.java
  datadog-iam-user-handler/src/main/resources/com/datadog/iam/user/project.properties
  datadog-iam-user-handler/src/test/java/com/datadog/iam/user/UserCRUDTest.java
  datadog-iam-user-handler/template.yml
Labels: changelog/Added, resource/user

#96 Move common deps to common package and pin common package in resources
  datadog-cloudformation-common-python/setup.cfg
  datadog-iam-user-handler/requirements.txt
  datadog-monitors-monitor-handler/requirements.txt
Labels: resource/common, resource/monitor, resource/user

#97 Update releasing instructions and add version number to resource description
  RELEASING.md
  datadog-iam-user-handler/datadog-iam-user.json
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-monitors-downtime-handler/datadog-monitors-downtime.json
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
Labels: documentation, resource/aws, resource/downtime, resource/monitor, resource/user

#93 Add dashboard resource
  datadog-dashboards-dashboard-handler/.rpdk-config
  datadog-dashboards-dashboard-handler/README.md
  datadog-dashboards-dashboard-handler/datadog-dashboards-dashboard.json
  datadog-dashboards-dashboard-handler/docs/README.md
  datadog-dashboards-dashboard-handler/docs/datadogcredentials.md
  datadog-dashboards-dashboard-handler/requirements.txt
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/__init__.py
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/handlers.py
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/models.py
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/version.py
  datadog-dashboards-dashboard-handler/template.yml
Labels: changelog/Added, documentation, resource/dashboard

#99 Fixes from QA
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/handlers.py
Labels: changelog/no-changelog, resource/dashboard

#98 Release betas for user, dashboard, monitor
  CHANGELOG.md
  datadog-dashboards-dashboard-handler/CHANGELOG.md
  datadog-dashboards-dashboard-handler/datadog-dashboards-dashboard.json
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/version.py
  datadog-iam-user-handler/CHANGELOG.md
  datadog-iam-user-handler/datadog-iam-user.json
  datadog-iam-user-handler/src/datadog_iam_user/version.py
  datadog-monitors-monitor-handler/CHANGELOG.md
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/version.py
Labels: documentation, resource/dashboard, resource/monitor, resource/user

#100 Remove s3 links for betas
  datadog-dashboards-dashboard-handler/CHANGELOG.md
  datadog-iam-user-handler/CHANGELOG.md
  datadog-monitors-monitor-handler/CHANGELOG.md
Labels: documentation, resource/dashboard, resource/monitor, resource/user
