Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2021-02, with the labels that each got.

#110 Add dashboards resource to readme.md
  README.md
Labels: changelog/no-changelog

#111 Bump cloudformation-cli-python-plugin version
  datadog-cloudformation-common-python/setup.cfg
Labels: changelog/Fixed, resource/common

#112 Prep common-python 0.0.3 release
  datadog-cloudformation-common-python/CHANGELOG.md
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
Labels: changelog/no-changelog, documentation, resource/common

#113 Start next dev cycle for common-python package
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
Labels: changelog/no-changelog, resource/common

#114 Bump datadog-api-client version
  datadog-cloudformation-common-python/setup.cfg
Labels: changelog/Fixed, resource/common

#115 Prep common-python 0.0.4 release
  datadog-cloudformation-common-python/CHANGELOG.md
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
Labels: changelog/no-changelog, documentation, resource/common

#116 Start next dev cycle for common-python package
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
Labels: changelog/no-changelog

#117 Bump common python version in all resources
  datadog-dashboards-dashboard-handler/requirements.txt
  datadog-iam-user-handler/requirements.txt
  datadog-integrations-aws-handler/requirements.txt
  datadog-monitors-downtime-handler/requirements.txt
  datadog-monitors-monitor-handler/requirements.txt
Labels: changelog/Fixed, resource/aws, resource/dashboard, resource/downtime, resource/monitor, resource/user

#118 Prep the next release of all resources
  CHANGELOG.md
  datadog-dashboards-dashboard-handler/CHANGELOG.md
  datadog-dashboards-dashboard-handler/datadog-dashboards-dashboard.json
  datadog-dashboards-dashboard-handler/docs/README.md
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/version.py
  datadog-iam-user-handler/CHANGELOG.md
  datadog-iam-user-handler/datadog-iam-user.json
  datadog-iam-user-handler/docs/README.md
  datadog-iam-user-handler/src/datadog_iam_user/version.py
  datadog-integrations-aws-handler/CHANGELOG.md
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-integrations-aws-handler/docs/README.md
  datadog-integrations-aws-handler/src/datadog_integrations_aws/version.py
  datadog-monitors-downtime-handler/CHANGELOG.md
  datadog-monitors-downtime-handler/datadog-monitors-downtime.json
  datadog-monitors-downtime-handler/docs/README.md
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/version.py
  datadog-monitors-monitor-handler/CHANGELOG.md
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/version.py
Labels: changelog/no-changelog, documentation, resource/aws, resource/dashboard, resource/downtime, resource/monitor, resource/user

#119 Remove downtime recurrence definition from schema
  datadog-monitors-downtime-handler/datadog-monitors-downtime.json
Labels: changelog/no-changelog, resource/downtime

#123 Add slo alert to Datadog::Monitors::Monitor type enum
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
Labels: changelog/Added

#125 Delete pom.xml not used since migration to python
  pom.xml
Labels: changelog/no-changelog
