Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2021-08, with the labels that each got.

#156 DOCS-2290 Datadog-Amazon CloudFormation Edits
  README.md
Labels: changelog/no-changelog, documentation

#160 fix aws contract tests
  datadog-integrations-aws-handler/src/datadog_integrations_aws/handlers.py
  publish
Labels: resource/aws, changelog/no-changelog

#161 Store returned `external_id` secret in AWS SecretsManager
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-integrations-aws-handler/docs/README.md
  datadog-integrations-aws-handler/src/datadog_integrations_aws/handlers.py
  datadog-integrations-aws-handler/src/datadog_integrations_aws/models.py
Labels: changelog/Added

#162 Add retry to AWS delete secret, include resource-role.yaml
  .github/workflows/test.yml
  .gitignore
  datadog-dashboards-dashboard-handler/resource-role.yaml
  datadog-iam-user-handler/resource-role.yaml
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-integrations-aws-handler/resource-role.yaml
  datadog-integrations-aws-handler/src/datadog_integrations_aws/handlers.py
  datadog-monitors-downtime-handler/docs/README.md
  datadog-monitors-downtime-handler/resource-role.yaml
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/resource-role.yaml
  datadog-slos-slo-handler/resource-role.yaml
  publish
Labels: documentation, resource/user, resource/aws, resource/downtime, resource/monitor, changelog/no-changelog, resource/dashboard, resource/slo
