Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2021-06, with the labels that each got.

#139 Update Readme for Public Registry
  README.md
Labels: changelog/no-changelog, documentation

#141 Add docs team as reviewers to PRs on Readme
  .github/CODEOWNERS
Labels: changelog/no-changelog

#140 Edit on PR 139
  README.md
Labels: changelog/no-changelog, documentation

#142 Prepare resources for public registry
  datadog-dashboards-dashboard-handler/datadog-dashboards-dashboard-configuration.json
  datadog-dashboards-dashboard-handler/datadog-dashboards-dashboard.json
  datadog-dashboards-dashboard-handler/docs/README.md
  datadog-dashboards-dashboard-handler/docs/datadogcredentials.md
  datadog-dashboards-dashboard-handler/inputs/inputs_1_create.json
  datadog-dashboards-dashboard-handler/inputs/inputs_1_invalid.json
  datadog-dashboards-dashboard-handler/inputs/inputs_1_update.json
  datadog-dashboards-dashboard-handler/requirements.txt
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/handlers.py
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/models.py
  datadog-integrations-aws-handler/datadog-integrations-aws-configuration.json
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-integrations-aws-handler/docs/README.md
  datadog-integrations-aws-handler/docs/datadogcredentials.md
  datadog-integrations-aws-handler/inputs/inputs_1_create.json
  datadog-integrations-aws-handler/inputs/inputs_1_invalid.json
  datadog-integrations-aws-handler/inputs/inputs_1_update.json
  datadog-integrations-aws-handler/requirements.txt
  datadog-integrations-aws-handler/src/datadog_integrations_aws/handlers.py
  datadog-integrations-aws-handler/src/datadog_integrations_aws/models.py
  datadog-monitors-downtime-handler/datadog-monitors-downtime-configuration.json
  datadog-monitors-downtime-handler/datadog-monitors-downtime.json
  datadog-monitors-downtime-handler/docs/README.md
  datadog-monitors-downtime-handler/docs/datadogcredentials.md
  datadog-monitors-downtime-handler/inputs/inputs_1_create.json
  datadog-monitors-downtime-handler/inputs/inputs_1_invalid.json
  datadog-monitors-downtime-handler/inputs/inputs_1_update.json
  datadog-monitors-downtime-handler/requirements.txt
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/handlers.py
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/models.py
  datadog-monitors-monitor-handler/datadog-monitors-monitor-configuration.json
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/docs/datadogcredentials.md
  datadog-monitors-monitor-handler/inputs/inputs_1_create.json
  datadog-monitors-monitor-handler/inputs/inputs_1_invalid.json
  datadog-monitors-monitor-handler/inputs/inputs_1_update.json
  datadog-monitors-monitor-handler/requirements.txt
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/handlers.py
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/models.py
Labels: changelog/Changed, documentation, resource/aws, resource/dashboard, resource/downtime, resource/monitor

#144 Bump common dependencies
  datadog-cloudformation-common-python/setup.cfg
Labels: changelog/Added, resource/common

#146 Release 0.0.6 of common package
  .gitignore
  datadog-cloudformation-common-python/CHANGELOG.md
Labels: changelog/no-changelog, documentation, resource/common

#138 Upgrade datadog-cloudformation-common-python version
  datadog-dashboards-dashboard-handler/requirements.txt
  datadog-iam-user-handler/requirements.txt
  datadog-integrations-aws-handler/requirements.txt
  datadog-monitors-downtime-handler/requirements.txt
  datadog-monitors-monitor-handler/requirements.txt
Labels: changelog/Added, resource/aws, resource/dashboard, resource/downtime, resource/monitor, resource/user

#149 Markdown fixes
  DEVELOPMENT.md
  README.md
Labels: changelog/no-changelog

#150 Release major versions of resources
  datadog-dashboards-dashboard-handler/CHANGELOG.md
  datadog-dashboards-dashboard-handler/README.md
  datadog-dashboards-dashboard-handler/src/datadog_dashboards_dashboard/version.py
  datadog-integrations-aws-handler/CHANGELOG.md
  datadog-integrations-aws-handler/README.md
  datadog-integrations-aws-handler/src/datadog_integrations_aws/version.py
  datadog-monitors-downtime-handler/CHANGELOG.md
  datadog-monitors-downtime-handler/README.md
  datadog-monitors-downtime-handler/src/datadog_monitors_downtime/version.py
  datadog-monitors-monitor-handler/CHANGELOG.md
  datadog-monitors-monitor-handler/README.md
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/version.py
Labels: changelog/no-changelog, documentation, resource/aws, resource/dashboard, resource/downtime, resource/monitor

#147 Run contract tests in github actions
  .github/workflows/test.yml
Labels: changelog/no-changelog

#143 Fix read handler not finding integration
  datadog-integrations-aws-handler/src/datadog_integrations_aws/handlers.py
Labels: changelog/Fixed, resource/aws

#148 Use the official term for the AWS Management Console
  README.md
Labels: changelog/no-changelog

#151 Use normal AWS docs link instead Chinese one
  README.md
Labels: changelog/no-changelog
