Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2021-11, with the labels that each got.

#174 Bump API client to 1.6.0
  datadog-cloudformation-common-python/setup.cfg
Labels: resource/common, changelog/Added

#175 Release common package 0.0.7
  datadog-cloudformation-common-python/CHANGELOG.md
Labels: documentation, resource/common, changelog/Added

#170 Set priority on monitor creation/update
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/inputs/inputs_1_create.json
  datadog-monitors-monitor-handler/inputs/inputs_1_update.json
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/handlers.py
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/models.py
Labels: stale

#159 Fix link to SLO documentation
  datadog-slos-slo-handler/README.md
Labels: stale

#173 Support additional params for AWS resource
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-integrations-aws-handler/docs/README.md
  datadog-integrations-aws-handler/src/datadog_integrations_aws/handlers.py
  datadog-integrations-aws-handler/src/datadog_integrations_aws/models.py
Labels: documentation, resource/aws, changelog/Added

#177 Update AWS Changelog for 2.2.0 release
  datadog-integrations-aws-handler/CHANGELOG.md
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-integrations-aws-handler/src/datadog_integrations_aws/version.py
Labels: documentation, resource/aws, changelog/no-changelog

#178 Update generated AWS resource docs
  datadog-integrations-aws-handler/docs/README.md
Labels: documentation, resource/aws, changelog/no-changelog

#180 Update changelog and bump version for monitor resource
  datadog-monitors-monitor-handler/CHANGELOG.md
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/version.py
Labels: documentation, resource/monitor, changelog/no-changelog

#182 Fix SLO tests
  datadog-slos-slo-handler/src/datadog_slos_slo/handlers.py
Labels: changelog/Fixed, resource/slo

#181 Use custom exports for AWS contract tests
  datadog-integrations-aws-handler/inputs/inputs_1_create.json
  datadog-integrations-aws-handler/inputs/inputs_1_update.json
Labels: resource/aws, changelog/Added

#183 Add missing import in SLO resource
  datadog-slos-slo-handler/src/datadog_slos_slo/handlers.py
Labels: changelog/no-changelog, resource/slo

#184 Add Changelog for SLO resource 1.0.1
  datadog-slos-slo-handler/CHANGELOG.md
  datadog-slos-slo-handler/datadog-slos-slo.json
  datadog-slos-slo-handler/docs/README.md
  datadog-slos-slo-handler/src/datadog_slos_slo/version.py
Labels: documentation, changelog/no-changelog, resource/slo
