Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2022-01, with the labels that each got.

#190 Update dev docs
  DEVELOPMENT.md
Labels: documentation, changelog/no-changelog

#192 Fix SLO template example
  datadog-slos-slo-handler/README.md
Labels: documentation, changelog/no-changelog, resource/slo

#191 Add support for RUM monitors
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/inputs/inputs_2_create.json
  datadog-monitors-monitor-handler/inputs/inputs_2_invalid.json
  datadog-monitors-monitor-handler/inputs/inputs_2_update.json
Labels: documentation, resource/monitor, changelog/Added

#193 Bump datadog-api-client version to 1.8.0
  datadog-cloudformation-common-python/setup.cfg
Labels: resource/common, changelog/Added

#188 Let supported regions looks like in the aws management console
  README.md
Labels: documentation, stale, changelog/no-changelog

#195 Prepare for common package 0.0.8 release
  datadog-cloudformation-common-python/CHANGELOG.md
Labels: documentation, resource/common, changelog/no-changelog
