Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2023-10, with the labels that each got.

#284 Remove empty string from permissions
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
Labels: resource/monitor, changelog/Fixed

#285 Prepare for datadog-monitors-monitor 4.7.0 release
  datadog-monitors-monitor-handler/CHANGELOG.md
Labels: documentation, resource/monitor, changelog/no-changelog

#286 Remove all empty permission strings
  datadog-dashboards-dashboard-handler/datadog-dashboards-dashboard.json
  datadog-iam-user-handler/datadog-iam-user.json
  datadog-integrations-aws-handler/datadog-integrations-aws.json
  datadog-monitors-downtime-handler/datadog-monitors-downtime.json
  datadog-monitors-downtimeschedule-handler/datadog-monitors-downtimeschedule.json
  datadog-slos-slo-handler/datadog-slos-slo.json
Labels: resource/user, resource/aws, resource/downtime, changelog/Fixed, resource/dashboard, resource/slo, resource/downtimeschedule

#287 Prepare for `Datadog::Monitors::DowntimeSchedule` 1.0.0 release
  datadog-monitors-downtimeschedule-handler/CHANGELOG.md
  datadog-monitors-downtimeschedule-handler/datadog-monitors-downtimeschedule.json
  datadog-monitors-downtimeschedule-handler/docs/README.md
  datadog-monitors-downtimeschedule-handler/src/datadog_monitors_downtimeschedule/version.py
Labels: documentation, changelog/no-changelog, resource/downtimeschedule

#273 updating notify audit's description and default value
  datadog-monitors-monitor-handler/datadog-monitors-monitor-configuration.json
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/monitoroptions.md
Labels: documentation, resource/monitor, changelog/no-changelog

#288 Deprecate `Datadog::Monitors::Downtime` resource
  README.md
  datadog-monitors-downtime-handler/README.md
Labels: documentation, resource/downtime, changelog/no-changelog

#289 Update dev docs
  DEVELOPMENT.md
Labels: documentation, changelog/no-changelog

#293 Update README to include role creating role execution information
  README.md
Labels: documentation, changelog/no-changelog
