Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2023-09, with the labels that each got.

#274 Hzhang/add enable samples
  datadog-monitors-monitor-handler/datadog-monitors-monitor-configuration.json
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/monitoroptions.md
  datadog-monitors-monitor-handler/inputs/inputs_4_create.json
  datadog-monitors-monitor-handler/inputs/inputs_4_invalid.json
  datadog-monitors-monitor-handler/inputs/inputs_4_update.json
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/handlers.py
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/models.py
Labels: documentation, resource/monitor, changelog/Added

#277 Exit on diff in CI
  .github/workflows/test.yml
Labels: resource/monitor, changelog/no-changelog

#276 Add missing monitor options
  datadog-monitors-monitor-handler/datadog-monitors-monitor-configuration.json
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/monitoroptions.md
  datadog-monitors-monitor-handler/docs/monitorschedulingoptions.md
  datadog-monitors-monitor-handler/docs/monitorschedulingoptionsevaluationwindow.md
  datadog-monitors-monitor-handler/inputs/inputs_1_create.json
  datadog-monitors-monitor-handler/inputs/inputs_1_update.json
  datadog-monitors-monitor-handler/inputs/inputs_4_create.json
  datadog-monitors-monitor-handler/inputs/inputs_4_update.json
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/handlers.py
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/models.py
Labels: documentation, resource/monitor, changelog/Added

#278 Bump `datadog-api-client` to `2.17.0`
  datadog-cloudformation-common-python/setup.cfg
Labels: resource/common, changelog/Added

#279 Prepare for common package release 0.0.19
  datadog-cloudformation-common-python/CHANGELOG.md
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
Labels: documentation, resource/common, changelog/no-changelog

#280 Bump common package to `0.0.19` in monitors resource
  datadog-monitors-monitor-handler/requirements.txt
Labels: resource/monitor, changelog/Added

#282 Prepare for `datadog-monitors-monitor` 4.7.0 release
  datadog-monitors-monitor-handler/CHANGELOG.md
  datadog-monitors-monitor-handler/datadog-monitors-monitor.json
  datadog-monitors-monitor-handler/docs/README.md
  datadog-monitors-monitor-handler/src/datadog_monitors_monitor/version.py
Labels: documentation, resource/monitor, changelog/no-changelog

#271 Add new resource `Datadog::Monitors::DowntimeSchedule`
  .github/workflows/test.yml
  README.md
  datadog-monitors-downtimeschedule-handler/.rpdk-config
  datadog-monitors-downtimeschedule-handler/README.md
  datadog-monitors-downtimeschedule-handler/datadog-monitors-downtimeschedule-configuration.json
  datadog-monitors-downtimeschedule-handler/datadog-monitors-downtimeschedule.json
  datadog-monitors-downtimeschedule-handler/docs/README.md
  datadog-monitors-downtimeschedule-handler/docs/monitoridentifier.md
  datadog-monitors-downtimeschedule-handler/docs/schedule.md
  datadog-monitors-downtimeschedule-handler/inputs/inputs_1_create.json
  datadog-monitors-downtimeschedule-handler/inputs/inputs_1_invalid.json
  datadog-monitors-downtimeschedule-handler/inputs/inputs_1_update.json
  datadog-monitors-downtimeschedule-handler/requirements.txt
  datadog-monitors-downtimeschedule-handler/resource-role.yaml
  datadog-monitors-downtimeschedule-handler/src/datadog_monitors_downtimeschedule/__init__.py
  datadog-monitors-downtimeschedule-handler/src/datadog_monitors_downtimeschedule/handlers.py
  datadog-monitors-downtimeschedule-handler/src/datadog_monitors_downtimeschedule/models.py
  datadog-monitors-downtimeschedule-handler/src/datadog_monitors_downtimeschedule/version.py
  datadog-monitors-downtimeschedule-handler/template.yml
Labels: documentation, resource/downtime, changelog/Added, resource/downtimeschedule
