Repository DataDog/datadog-cloudformation-resources, pull requests merged in 2025-03, with the labels that each got.

#316 bumping datadog api version
  datadog-cloudformation-common-python/setup.cfg
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/api_clients.py
Labels: resource/common, changelog/Changed

#320 incident 36213
  .github/workflows/test.yml
Labels: changelog/no-changelog

#322 [AAWF-85] Remove `tj-actions/changed-files` usage
  .github/workflows/test.yml
Labels: changelog/no-changelog

#321 [AAWF-85] Prepare for datadog_cloudformation_common 0.0.20 release
  .github/workflows/test.yml
  datadog-cloudformation-common-python/CHANGELOG.md
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/version.py
Labels: documentation, resource/common, changelog/no-changelog

#323 [AAWF-85] Bump CF versions
  datadog-cloudformation-common-python/setup.cfg
Labels: resource/common, changelog/Added

#317 Add new `Datadog::Integrations::AWSAccount` resource
  .github/workflows/test.yml
  datadog-cloudformation-common-python/src/datadog_cloudformation_common/api_clients.py
  datadog-integrations-awsaccount-handler/.rpdk-config
  datadog-integrations-awsaccount-handler/CHANGELOG.md
  datadog-integrations-awsaccount-handler/README.md
  datadog-integrations-awsaccount-handler/datadog-integrations-awsaccount-configuration.json
  datadog-integrations-awsaccount-handler/datadog-integrations-awsaccount.json
  datadog-integrations-awsaccount-handler/docs/README.md
  datadog-integrations-awsaccount-handler/docs/authconfig.md
  datadog-integrations-awsaccount-handler/docs/awsregions.md
  datadog-integrations-awsaccount-handler/docs/logsconfig.md
  datadog-integrations-awsaccount-handler/docs/metricsconfig.md
  datadog-integrations-awsaccount-handler/docs/resourcesconfig.md
  datadog-integrations-awsaccount-handler/docs/tracesconfig.md
  datadog-integrations-awsaccount-handler/inputs/inputs_1_create.json
  datadog-integrations-awsaccount-handler/inputs/inputs_1_invalid.json
  datadog-integrations-awsaccount-handler/inputs/inputs_1_update.json
  datadog-integrations-awsaccount-handler/requirements.txt
  datadog-integrations-awsaccount-handler/resource-role.yaml
  datadog-integrations-awsaccount-handler/src/datadog_integrations_awsaccount/__init__.py
  datadog-integrations-awsaccount-handler/src/datadog_integrations_awsaccount/handlers.py
  datadog-integrations-awsaccount-handler/src/datadog_integrations_awsaccount/models.py
  datadog-integrations-awsaccount-handler/src/datadog_integrations_awsaccount/version.py
  datadog-integrations-awsaccount-handler/template.yml
Labels: documentation, resource/common, resource/aws, changelog/Added, resource/awsaccount

#325 Prepare for `Datadog::Integrations::AWSAccount` 1.0.0 release
  datadog-integrations-awsaccount-handler/CHANGELOG.md
  datadog-integrations-awsaccount-handler/datadog-integrations-awsaccount.json
  datadog-integrations-awsaccount-handler/docs/README.md
  datadog-integrations-awsaccount-handler/src/datadog_integrations_awsaccount/version.py
Labels: documentation, changelog/no-changelog, resource/awsaccount
